<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<jaxws:endpoint xmlns:tns="http://www.sony.com/sonyQuote/"
		id="sonyquoteservice" implementor="com.sony.sonyquote.SonyQuoteServiceImpl"
		wsdlLocation="WEB-INF/wsdl/sonyQuote.wsdl" endpointName="tns:sonyQuoteSOAP2"
		serviceName="tns:sonyQuote" address="/sonyQuoteSOAP2">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
	<jaxws:endpoint xmlns:tns="http://www.sony.com/sony/"
		id="sonyorderservice" implementor="com.sony.sony.SonyOrderServiceImpl"
		wsdlLocation="WEB-INF/wsdl/sony.wsdl" endpointName="tns:sonySOAP"
		serviceName="tns:sony" address="/sonySOAP">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
</beans>
